In [4]:
import numpy as np
import pandas as pd

age = [20, 40, 60]

years = pd.Series(age)

print(years)

print(years[2])

0    20
1    40
2    60
dtype: int64
60

In [31]:
import pandas as pd

# courses = pd.Series(["Spark","PySpark","Hadoop"])
# fees = pd.Series([22000,25000, 23000])
# discount = pd.Series([1000,2300,1000])

# print(courses)
# print(fees)
# print(discount)


#combine 2 series
# df = pd.concat([courses, fees],axis =1)
# print(df)


#combine multiple series
# df = pd.concat([courses, fees, discount], axis =1)
# print(df)


# add column names
courses = pd.Series(["Spark","PySpark","Hadoop"], name = "courses")
fees = pd.Series([22000,25000, 23000], name = "fees")
discount = pd.Series([1000,2300,1000], name = "discount")
df = pd.concat([courses, fees, discount], axis =1)
print(df)


# #4 assign indices to series
index_labels = ['r1','r2','r3']
courses.index = index_labels
fees.index = index_labels
discount.index = index_labels
df = pd.concat([courses, fees, discount], axis =1)
print(df)


df =pd.concat({"Courses":courses, "Course_Fee":fees, "Course_Discount":discount}, axis=1)
print(df)

df = df.reset_index(drop=False)
print(df)

df = df.reset_index(drop=True)
print(df)

   courses   fees  discount
0    Spark  22000      1000
1  PySpark  25000      2300
2   Hadoop  23000      1000
    courses   fees  discount
r1    Spark  22000      1000
r2  PySpark  25000      2300
r3   Hadoop  23000      1000
    Courses  Course_Fee  Course_Discount
r1    Spark       22000             1000
r2  PySpark       25000             2300
r3   Hadoop       23000             1000
  index  Courses  Course_Fee  Course_Discount
0    r1    Spark       22000             1000
1    r2  PySpark       25000             2300
2    r3   Hadoop       23000             1000
  index  Courses  Course_Fee  Course_Discount
0    r1    Spark       22000             1000
1    r2  PySpark       25000             2300
2    r3   Hadoop       23000             1000

In [32]:
import pandas as pd

courses = pd.Series(["Spark","PySpark","Hadoop"], name = "courses")
fees = pd.Series([22000,25000, 23000], name = "fees")

df = pd.merge(courses, fees, right_index=True, left_index=True)
print(df)

   courses   fees
0    Spark  22000
1  PySpark  25000
2   Hadoop  23000

In [36]:
import pandas as pd

courses_am = pd.Series(["Spark","PySpark","Hadoop"], name = "courses_am")
courses_pm = pd.Series(["Pandas","Python","Scala"], name = "courses_pm")
df = pd.DataFrame(courses_am.apply(courses_pm, ignore_index = True), columns=["all_courses"])

AttributeError: 'Series' object has no attribute 'append'

In [35]:
import pandas as pd

courses = pd.Series(["Spark","PySpark","Hadoop"], name = "courses")
fees = pd.Series([22000,25000, 23000], name = "fees")

df = pd.DataFrame(courses).join(fees)
print(df)

   courses   fees
0    Spark  22000
1  PySpark  25000
2   Hadoop  23000

In [50]:
import pandas as pd

data = {'apples':[3,2,0,1], 'oranges':[0,3,7,2]}

purchases= pd.DataFrame(data)

print(data)
print(purchases)

purchases = pd.DataFrame(data, index=["June","Robert","Lily","David"])
print(purchases)

print('\n')

#retrieving data by column
print(purchases["oranges"])

print('\n')

#retrieveing data by row
print(purchases.loc["June"])

{'apples': [3, 2, 0, 1], 'oranges': [0, 3, 7, 2]}
   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2
        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2


June      0
Robert    3
Lily      7
David     2
Name: oranges, dtype: int64


apples     3
oranges    0
Name: June, dtype: int64

In [60]:
import pandas as pd

report = {
    "Classes": ["Math", "Science", "Spanish", "History", "Health"],
    "Grades": [75, 80, 95, 60, 100]
}
results = pd.DataFrame(report)

print(report)

print("\n")

print(results)

print("\n")

print(results.loc[3])

print(results)

print(results.loc[[2,3]])

results = pd.DataFrame(report, index=["week1", "week2", "week3", "week4", "week5" ])
print(results)

print(results.loc[["week2","week5"]])

{'Classes': ['Math', 'Science', 'Spanish', 'History', 'Health'], 'Grades': [75, 80, 95, 60, 100]}


   Classes  Grades
0     Math      75
1  Science      80
2  Spanish      95
3  History      60
4   Health     100


Classes    History
Grades          60
Name: 3, dtype: object
   Classes  Grades
0     Math      75
1  Science      80
2  Spanish      95
3  History      60
4   Health     100
   Classes  Grades
2  Spanish      95
3  History      60
       Classes  Grades
week1     Math      75
week2  Science      80
week3  Spanish      95
week4  History      60
week5   Health     100
       Classes  Grades
week2  Science      80
week5   Health     100

In [75]:
import pandas as pd
import numpy as np

population_list = [['Afghanistan', 1952, 8425333, 'Asia'],
            ['Australia', 1957, 9712569, 'Oceania'],
            ['Brazil', 1962, 76039390, 'Americas'],
            ['China', 1957, 637408000, 'Asia'],
            ['France', 1957, 44310863, 'Europe'],
            ['India', 1952, 3.72e+08, 'Asia'],
            ['South Africa', 1966, np.NaN, 'Africa'],
            ['United States', 1957, 171984000, 'Americas']]

df = pd.DataFrame(population_list, columns=["Country","Year","Population","Continent"])
# print(df)

# df.sort_values(by=["Continent"], inplace=True)
# print(f"sorted df: \n{df}")

# df.sort_values(by=["Population"], inplace=True, ascending=False)
# print(f"sorted df: \n{df}")

# df.sort_values(by=["Continent","Country"], inplace=True)

df.sort_values(by=["Continent","Country"], inplace=True, ascending=[True,False])
print(df)

         Country  Year   Population Continent
6   South Africa  1966          NaN    Africa
7  United States  1957  171984000.0  Americas
2         Brazil  1962   76039390.0  Americas
5          India  1952  372000000.0      Asia
3          China  1957  637408000.0      Asia
0    Afghanistan  1952    8425333.0      Asia
4         France  1957   44310863.0    Europe
1      Australia  1957    9712569.0   Oceania

In [93]:
import pandas as pd

data = {"Name":["Dakotah","Shelly","Trey","Chris","Sam","Nick","Habum","Carlos"], 
        "Height":[6.0,5.5,5.8,6.0,5.10,6.2,6.0,5.8],
        "Industry":["Finance","IT","Personnel Tracking","Hospital","Govt Finance","Software","IT","Water Resource Mangement"]}

df = pd.DataFrame(data)

states = ["NJ", "MO","VA","CA","OH","NV","NV","CA"]

df["State"] = states

ages = [30, 38,  33, 33, 36, 37, 31, 29]

#insert()
df.insert(2,"Age", ages, True)

pets = ["dog", "cat", "none", "dog", "fish", "none", "cat", "dog"]

df = df.assign(Pets=pets)

sports = {"Shelly": "Volleyball", "Dakotah": "None", "Carlos": "Pickleball", "Trey": "Baseball", "Chris": "Volleyball", "Sam":"Soccer", "Habum":"Basketball", "Nick":"None"}

df["Sport"] = df["Name"].map(sports)

print(df)


help(pd.DataFrame.assign)

      Name  Height  Age                  Industry State  Pets       Sport
0  Dakotah     6.0   30                   Finance    NJ   dog        None
1   Shelly     5.5   38                        IT    MO   cat  Volleyball
2     Trey     5.8   33        Personnel Tracking    VA  none    Baseball
3    Chris     6.0   33                  Hospital    CA   dog  Volleyball
4      Sam     5.1   36              Govt Finance    OH  fish      Soccer
5     Nick     6.2   37                  Software    NV  none        None
6    Habum     6.0   31                        IT    NV   cat  Basketball
7   Carlos     5.8   29  Water Resource Mangement    CA   dog  Pickleball

In [96]:
import pandas as pd

pd.options.display.max_rows =50
print(pd.options.display.max_rows)

df = pd.read_csv("Python_LoopPractice.csv")

print(df.head(10))
print(df.tail(15))

df.info()

50
   ID#          Name Type 1  Type 2  Defense  Attack  Unnamed: 6
0    1     Bulbasaur  Grass  Poison       56     100         NaN
1    2       Ivysaur  Grass  Poison       51      52         NaN
2    3      Venusaur  Grass  Poison       45      84         NaN
3    4    Charmander   Fire     NaN       51      43         NaN
4    5    Charmeleon   Fire     NaN       64      39         NaN
5    6     Charizard   Fire  Flying       42      81         NaN
6    7      Squirtle  Water     NaN       72      80         NaN
7    8     Wartortle  Water     NaN       35      45         NaN
8    9     Blastoise  Water     NaN       57      96         NaN
9   10      Caterpie    Bug     NaN       67      68         NaN
    ID#         Name  Type 1  Type 2  Defense  Attack  Unnamed: 6
7     8    Wartortle   Water     NaN       35      45         NaN
8     9    Blastoise   Water     NaN       57      96         NaN
9    10     Caterpie     Bug     NaN       67      68         NaN
10   11      Metapod     Bug     NaN       61      65         NaN
11   12   Butterfree     Bug  Flying       37      51         NaN
12   13       Weedle     Bug  Poison       64      35         NaN
13   14       Kakuna     Bug  Poison       90      81         NaN
14   15     Beedrill     Bug  Poison       46      77         NaN
15   16       Pidgey  Normal  Flying       65      91         NaN
16   17     Pigeotto  Normal  Flying       48      56         NaN
17   18       Pideot  Normal  Flying       90      99         NaN
18   19      Rattata  Normal     NaN       77      80         NaN
19   20     Raticate  Normal     NaN       43      46         NaN
20   21      Spearow  Normal  Flying       90      61         NaN
21   22       Fearow  Normal  Flying       82      68         NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID#         22 non-null     int64
 1     Name      22 non-null     object
 2   Type 1      22 non-null     object
 3   Type 2      13 non-null     object
 4   Defense     22 non-null     int64
 5   Attack      22 non-null     int64
 6   Unnamed: 6  0 non-null      float64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.3+ KB